body {
  background-color: black !important;
  margin: 0% !important;
  padding: 0% !important;
}

.weather-data {
  color: white;
  margin-top: 10%;
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
}

.daily-card {
  background-color: #58697a !important;
  display: table-column;
  opacity: 0.8;
  color: white !important;
}

.daily-card h2 {
  font-size: 20px;
  text-align: left;
}

table td {
  margin: 10px;
  padding: 10px;
}

.hourly-forecast-card {
  display: inline-block;
  margin-right: 20px;
}

.uv-index-card {
  background-color: #58697a !important;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.uv-index-title {
  font-size: 18px;
}

.uv-index-number {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 4px;
}

.uv-index-description {
  font-size: 14px;
}

.uv-index-unavailable {
  font-size: 14px;
  color: #f00;
}
