body {
  background-image: url('./photo-1482005253821-5d6a2c685879.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.weather-data {
  color: white;
  margin-top: 10%;
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
}

.weather-data h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.temp, .data, .long {
  font-size: 24px;
}




.hour, .temperature, .weather-icon {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.weather-icon {
  margin-top: 15px;
}

.hourly-forecast-card {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px ;
  

  
  color: white;
}

.hourly-card {
  overflow-x: auto;
  
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  white-space: nowrap; 
  /* display: flex; */
  justify-content: space-between; 
  align-items: center;
  opacity: 0.9;
  background-color: #58697a !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


.daily-card {
  background-color: #58697a !important;
  display: table-column;
  opacity: 0.8;
  color: white !important;
}

.daily-card h2 {
  font-size: 20px;
  text-align: left;
}

table td {
  margin: 10px;
  padding: 10px;
}

.chart-card {
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.chart-card .card-header {
  background-color: #58697a;
  border-radius: 10px 10px 0 0;
  color: white;
  text-align: left;
}

.chart-card .card-body .chart-title {
  color: #58697a;
  font-weight: bold;
  font-size: 16px;
}
.chart-card{
  position: relative;
  background-color: #6f8199 !important;
  min-width: 0;
  min-height: 10px;
  word-wrap: break-word;
  border: 1px solid rgba(19, 24, 44, .125);
  border-radius: .25rem
}


.uv-index-card {
  background-color: #58697a !important;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.uv-index-title {
  font-size: 18px;
}

.uv-index-number {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 4px;
}

.uv-index-description {
  font-size: 14px;
}

.uv-index-unavailable {
  font-size: 14px;
  color: #f00;
}
